# Streamlit
.streamlit/
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales de imágenes o uploads
*.tmp
*.bak

# Logs
*.log